:root {
  --primary-background-color: #ffffff;
  --white-color: #ffffff;
  --black-color: #262f56;
  --green-color: #00c659;
  --btn-bg-color: #f6f6f6;
  --exclusive-color: #b02bc8;
  --exclusive-bg-color: rgba(176, 43, 200, 0.12);
  --no-bonus-color: #c82b32;
  --no-bonus-bg-color: rgba(200, 43, 50, 0.12);
  --no-deposit-bg-color: rgba(0, 198, 89, 0.12);
}
